    <h1>Sessions de vote</h1>
    <div class="btncontainer">
      <button id="initSessionBtn" class="button btn-primary">Initialiser Session</button>
    </div>

    <div id="sessionsGrid" class="ag-theme-alpine" style="height: 500px; width: 100%; margin-top: 20px;"></div>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.noStyle.js"></script>
      <script src="/localization/fr-FR.js"></script>

    <script>
      const sessions = <%- JSON.stringify(sessions) %>;

      const columnDefs = [{
          headerName: "ID",
          field: "id",
          sortable: true,
          filter: true
        },
        {
          headerName: "Date initialization",
          field: "init_time",
          sortable: true,
          filter: true,
          cellRenderer: params => new Date(params.value).toLocaleString('fr-FR')

        },
        {
          headerName: "DATE debut",
          field: "start_time",
          sortable: true,
          filter: true,
          cellRenderer: params => params.value ? new Date(params.value).toLocaleString('fr-FR') : 'Non démarré'
        },
        {
          headerName: "DATE FIN",
          field: "end_time",
          sortable: true,
          filter: true,
          cellRenderer: params => params.value ? new Date(params.value).toLocaleString('fr-FR') : 'Non terminé'
        },
        {
          headerName: "Details",
          field: "id",
          cellRenderer: 'buttonRenderer'
        }
      ];

      const buttonRenderer = (params) => {
        const button = document.createElement('button');
        button.innerText = 'Détails';
        button.className = 'button secondary';
        button.onclick = (event) => {
          event.stopPropagation();
          window.location.href = `/voting-sessions/${params.value}`;
        };
        return button;
      };

      const gridOptions = {
        columnDefs: columnDefs,
        rowData: sessions,
        defaultColDef: {
          resizable: true,
          flex: 1,
          minWidth: 150
        },
        pagination: true,
        components: {
          buttonRenderer: buttonRenderer
        },
        paginationPageSize: 20,
        domLayout: 'autoHeight'
      };

      const eGridDiv = document.querySelector('#sessionsGrid');
      new agGrid.Grid(eGridDiv, gridOptions);

      document.getElementById('initSessionBtn').addEventListener('click', () => {
        Swal.fire({
          title: 'Initialiser Session de Vote',
          html: `
                  <form id="initSessionForm">
                      <div class="form-group">
                          <label for="votingType">type vote</label>
                          <select id="votingType" name="type" class="form-control">
                              <option value="jury">Jury</option>
                              <option value="user">Global</option>
                          </select>
                      </div>
                  </form>
                `,
          showCancelButton: true,
          confirmButtonText: 'Initialiser',
          cancelButtonText: 'Annuler',
          preConfirm: () => {
            const votingType = document.getElementById('votingType').value;
            return {
              votingType
            };
          }
        }).then((result) => {
          if (result.isConfirmed) {
            fetch('/voting-sessions/init', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  type: result.value.votingType
                })
              }).then(response => response.json())
              .then(data => {
                if (data.success) {
                  Swal.fire('Success', 'Voting session initialized', 'success').then(() => {
                    location.reload();
                  });
                } else {
                  Swal.fire('Error', data.details || data.message || data.error, 'error');
                }
              });
          }
        });
      });
    </script>